@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,354;1,354&display=swap');

h2, p, h3, h4  {
    font-family: "Montserrat", sans-serif;
    padding: 0 20px;
    color: #1014c5;
}